body{background-color: rgb(255, 243, 233);
    padding-top: 70px;}
#Menu{
    background-color: rgb(255, 168, 39);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: Georgia, 'Times New Roman', Times, serif;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 20px;   /* <-- mucho más pequeño */
    height: 60px;        /* <-- controla el tamaño total */
}


#Menu ol{
    list-style:none;
    align-items: center;
    display: flex;
}
#Menu ol li{
    display:inline-block;
    position: relative;
}
#Menu ol li a{color:rgb(255, 255, 255);
    text-decoration:none;
    display:block;
    padding:10px 105px;
}
#Menu ol li a:hover{background-color: rgb(255, 240, 156);}
        .inicio {
    display: flex;
    padding: 40px;
    color: black;
}

.imagen-izquierda img {
    align-items: center;
    height: 150%;
    width: 300px;
    border-radius: 100px;
}

.texto-derecha h1,h2{
    margin-left: 40px;
font-family: monospace;
text-align: center;
color: rgb(247, 114, 180);

}

.btn-registrar {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: rgb(245, 197, 197);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    
}

.logotipo {
    width: 70px;
}
.footer {
    background-color:  rgb(255, 168, 39);  /* color similar al de tu imagen */
    padding: 80px 40px;
    text-align: center;
    margin-top: 50px;
}

.footer-contenido {
    height: 100%;
    width: 100%;
    margin: auto;
}

.footer .direccion {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}

.footer .descripcion {
    margin-top: 15px;
    font-size: 17px;
    color: #333;
}

.footer .descripcion a {
    color: rgb(39, 18, 22);
}

.footer h3 {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}

.redes {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.redes img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}